<%- include('partials/header') -%>

<div id="insertMsg"> <h1> Welcome <%= userName %></div>



<div id="aligner">
  <div id=" aligner-in">
    <form action="" method="post">
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Enter List Title"
        class="input-field"
        autofocus
        autocomplete="off"
        size="30"
      /><br /><br />

      <input type="submit" name="submit" value="Enter" class="btn" />
      <input type="submit" name="submit" value="Logout" class="btn" />
    </form>
  </div>
</div>
<div id="all-lists">
  <h1>All of your list titles , press to view.</h1><br /><br />
  <div id="insert-all-lists-content">
    <ul>
      <% for(let i=listTitles.length-1;i>=0;i--){ %>
        
        <!-- <li><a href="/insert"><%= listTitles[i].titles %></a>  -->
          <form action="" method="post" id="list-names">
            <li><a href="/insert/<%=listTitles[i].titles %>" id=""><%= listTitles[i].titles %></a> 
              <!-- <input type="submit" name="submit" value="Delete" id="delete"> -->
              <button type="submit" name="submit" value='<%=listTitles[i].titles%>' id="delete" >Delete</button>
          </form>
         <!-- '/insert/:abc' -->
        </li>
        <br><br>
      <% } %>
    </ul><br><br>
  </div>
  
</div>

<%- include('partials/footer') -%>
